Backwards/Library/
Backwards/Assets/BehaviorBricks/
Backwards/Backwards.sln
Backwards/Assets/BehaviorBricks.meta
Backwards/.vs/
*.csproj
*.Editor.csproj
Backwards/Assets/Standard Assets/
Backwards/obj/
Backwards/Assets/PostProcessing/
Backwards/Assets/Cinema Suite/
Backwards/Assets/Cinema Suite.meta
Backwards/Assets/PostProcessing.meta

Backwards/Assets/BrokenVector/
Backwards/Assets/BrokenVector.meta
